DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.base

DB_ENGINE=postgres
POSTGRES_DB=triviador
POSTGRES_USER=triviador
POSTGRES_PASSWORD=triviador
POSTGRES_HOST=db
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=triviador
RABBITMQ_DEFAULT_PASS=triviador
RABBITMQ_HOST=broker
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://triviador:triviador@broker:5672/

REDIS_URL=redis://redis:6379/0

GUNICORN_PORT=8000
DAPHNE_PORT=8001
HOST_GUNICORN_PORT=8000
HOST_DAPHNE_PORT=3000
